@use "../base/variables" as v;
@use "../base/mixin" as *;

$color-muted: #6a7282;

.charter-info-block {
    font-size: 16px;
    line-height: 1.2;
    color: $color-muted;
    letter-spacing: 0.8px;
    margin-bottom: 24px;

    @include pad {
        margin-bottom: 40px;
    }

    @include desktop {
        margin-bottom: 40px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }
}
