<footer class="site-footer">
    <div class="site-footer-skyline" aria-hidden="true">
        <picture>
            <source
                media="(max-width: 768px)"
                srcset="../assets/images/footer-skyline-mobile.svg"
                width="390"
                height="143"
            />
            <img
                src="../assets/images/footer-skyline.png"
                alt=""
                width="1440"
                height="66"
            />
        </picture>
    </div>
    <div class="site-footer-main">
        <div class="site-footer-inner container">
            <a href="/" class="site-footer-logo">
                <img
                    src="../assets/images/logo-footer.png"
                    alt="金永國際租賃有限公司"
                    width="189"
                    height="80"
                />
            </a>
            <ul class="site-footer-contact">
                <li>市話專線：886-2-29749738#2</li>
                <li>行動專線：0915-350-565</li>
                <li>E-mail：e121051940@yahoo.com.tw</li>
                <li>E-mail：e0915350565@kimo.com</li>
            </ul>
        </div>
    </div>
    <div class="site-footer-bottom">
        <div class="site-footer-bottom-inner container">
            <p>Copyright © 2026 金永包車旅遊網 ,Ltd. All rights reserved</p>
            <p class="site-footer-credit">傳訊光科技: 購物車/ 網頁設計/ CRM</p>
        </div>
    </div>
</footer>
